<template name="addStep">
	<div class="row">
		<div class="col-md-12">
			<h1>Add Step</h1>
		</div>
	</div>

  <form>
    <div class="form-group">
      <label class="control-label" for="Step">Step</label>
      <div class="controls">
        <input type="number" name="step" placeholder="step" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="Description">Description</label>
      <div class="controls">
        <input type="text" name="description" placeholder="Description" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="Email">Email</label>
      <div class="controls">
        <input type="email" name="email" placeholder="Email" class="form-control" />
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>	
  </form>
	
  <div class="row">
		<div class="col-md-12">
			<a id="btnCustomersList" href="#">Go back to lab manual</a>
		</div>
	</div>
</template>